html,:root{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.div_header{
    min-width: 800px;
    max-width: 1400px;
    background-color: black;
    width: 100%;
    height: 773px;
    
}
.header_menu{
 display: flex;
}
.header_logo{
  position: relative;
  top: 2rem;
  left: 12rem;
       
}
/*list header menu*/
.header_ul_menu{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: white;
    list-style: none;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    padding-left: 60rem;
} 
 .header_title{
    display: flex;
 } 
 .header_div_title{
 
  display: flex;
  flex-direction: column;
  padding-left: 10%;
 }      
 .h1_heder_title{
 font-weight: 600;
 color: #FFFFFF; 
 font-size: 64px;

}
 .h1_style_point{
    color: #FFBB00;
}
 .header_text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: #B2B2B2;
}
.header_btn{
    background-color: #F6AD09;
    text-decoration: none;
    width: 220px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    color: #332200;
    text-align: center;
    padding-top: 3rem;
    margin: 5% 0%;
    
}
.header_img{
    height: 710px;
    padding: 3% 12%;
    
}

main{
 min-width: 800px;
 max-width: 1400px;
}
   /* main*/
 .h1_card_title{
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 64px;
    color: #111111;
 }
.main_card{
    display: flex;
    justify-content: space-around;
    display: flex;
    width: 100%;
            
   }
.card_img{
    width: 350px;
}
.h2_card{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    color: #111111;
}
.img_card_button{
 padding: 2%;
}
.card_price{
 color:#595959;
 font-weight: 500;
 font-size: 18px; 
 padding-left: 13%;

}
section{
    margin-bottom: 9%;
}
.articles{
    width: 100%;
    margin: 0 auto;
}
.div_articles{
    background-color: #111111;
    min-width: 800px;
    max-width: 1400px;
    width: 100%;
    height: 741px;
    display: flex;
    flex-direction: column;
   
}
.p_articles_text{
    
    font-weight: 500;
    font-size: 24px;
    color: #B2B2B2;
    width: 45%;
    padding: 2%;
}
.a_articles{
    text-decoration: none;
    color:#F6AD09; 
    border-bottom:4px solid #F6AD09 ; 
}
.h_articles{
    font-weight: 600;
    font-size: 64px;
    color: #FFFFFF;
}
.footer_articles{
   width: 45%;
   display: flex;

   
}
.footer_title{
    margin: 3%;
}
 .h2_footer_articles{
    font-weight: 500;
    font-size: 24px;
    color: white;
 }
 
 .text_articles{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color:#B2B2B2;
 }


.style_point{
 color: #FFBB00;
}
.img_articles{
    height: 800px;
    position: relative;
    left: 50%;
    bottom: 95%;
    
}
.brend_listing{
    min-width: 800px;
    max-width: 1400px;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 40px;
}
span{
    color: #FFBB00;
}

   

.title_brend_listing{
    font-weight: 600;
     font-size: 64px;
}
.brend_logo_1{
  display: flex; 
 justify-content: space-between;
 margin-top: 1%;
}
.brend_logo_img{
    width: 23%;
}
/* цитата, зображення*/
.img_quote{
    max-width: 1400px;
    min-width: 800px;
    display: flex;

}
.img_title{
    width: 50%;
}
.quote{
    background-color: #FFBB00;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 4%;
    
}
.quote_autor{
    width: 100%;
    
}
.autor{
    font-weight: 600;
    font-size: 24px;
    color: #664400;
    font-family: 'Poppins';
   
}
.block_price{
    height: 737px;
    width: 100%;
    background-color: #161616;
}
.price_title{
    color: white;
    font-size: 55px;
}


.card_price_2{
    background-color: #000000;
    width: 40%;
    height: 420px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    
}
.box{
 display: flex;
 justify-content: space-around;
}
.card_box{
    display: flex;
}
.card_title_price{
    font-weight: 600;
    font-size: 36px;
    color: #9C9C9C;
}
.ul_card_price{
    list-style: none;
    list-style-image: url("../img/Rectangle.png");
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.li_card_price{
  padding-top: 5%;
}
.card_price_bytton_1{
    height: 58px;
    background-color: #2E2E2E;
    border-radius: 5px;
    text-align: center;
    padding-top: 2rem;
    
}


.card_price_button{
    text-decoration: none;
    color: #CCCCCC;
    background-color: #2E2E2E;
    border-radius: 5px;
    
    font-size: 20px;
    
    
    

}
.price-title{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 36px;
}
.value{
    color: #FFFFFF;
    font-size: 20px;
}

/* Footer style*/
footer{
    background-color: #000000;
    height: 475px;
    display: flex;
    min-width: 800px;
    max-width: 1400px;
}

.header_footer{
    display: flex;
}
.footer_contact{
padding: 8%;
}



.li_contact{
    list-style-type: none;
    color: #B2B2B2;
   
}
a{
    text-decoration: none;
    color: #B2B2B2;
    font-size: 18px;
}
.li_contact{
color: #B2B2B2;
    font-size: 18px;
}
.link_social_media{
    padding:16%;
}
.facebook{
    margin: 13%;
}

.link_title{
    color: white;
    list-style-type: none;
    font-weight: 500;
    font-size: 24px;
    
}


 a:hover{
    color: #F6AD09;
 }

 .footer_img{
    padding: 13%;
 }
 .footer_contact_ul{
    font-weight: 400;
 
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
 }
 .footer_menu_link{
    padding: 7%;
 }
 .card_price_2:hover{
   position: relative;
   left: 8%;
   height: 500px;
   color: #F6AD09;
 }
    

 
 