.h1{
    margin: 70 0px;
    font-family: 'Inika', serif;
    font-size: 40px;
    font-weight: 700;
     
}
.line{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 20px;
}
.header{
    text-align: center;
    color:  #3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif;
    padding: 31px 0;
}
.header-span{
    color: #E8C23E;
    font-family: 'Marcellus SC', serif;
}
.baner{
    background-image: url("../img/луцькзамок.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 195px;
    padding-left: 80px;
}
.content{
    box-sizing: border-box;
    width:60%;
    color: #FFFFFF;
    font-size: 35px;
    background-image: url("../img/flag.png");
    height: 272px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-family: 'Inika', serif;
    font-weight: 700;
}
.maine{
    margin: 80px 80px;
    
}
.card{
    margin:33px 0;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 4px 57px 3px black;
    border-radius: 40px;
    
    
}
.card__image{
    width: 100%;
    box-sizing: border-box;
    
}
.card__title{
    font-family: 'Inika';
    color: #1E8DF2;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}
.card__subtitle{
    font-family: 'Inika';
    font-weight: 400;
    color: #E8C23E;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}
.card__margin{
    margin: 0 4%;
    margin-top: 35px;
}
.H1__linetext{
    text-align: center;
}
.line__text{
    margin: auto;
}
.maps{
    box-sizing: border-box;
    margin-top: 40px;
    margin-right: 334px;
    margin-left: 294px;
    margin-bottom: 51px;
}
.butom{
    background-image: url("../img/голубий\ фон.png");
    width: 591px;
    height: 121px;
    margin: auto;
    margin-bottom:  30px;
}
.butom__text{
    font-size: 64px;
    font-family: 'Inika';
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
.fon__contact{
    background-image: url("../img/сірий\ фон\ \(1\).png");
}
    
.mail{
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
  

}
.telefon{
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
}