
    

.flag{
    background-image: url("../img/flag.png");
    
        box-sizing: border-box;
            background-repeat: no-repeat;
            padding-top: 250px;
            padding-left: 132px;
            height: 700px;
            
        }
.flag__radius{
    background-image: url("../img/flag.png");
    
        box-sizing: border-box;
            background-repeat: no-repeat;
            padding-top: 422px;
            padding-left: 132px;
            height: 740px;
            width: 767px;
            margin-top: 53px;
            border-radius: 409px;}
.img__wave{
    height: 271px;
    width: 512px;
}
.img__waveradius{
    height: 271px;
     width: 512px;
}
.dia__cart{
    background-image: url("../img/Diia\ -\ Flag.png");
    
        box-sizing: border-box;
        background-repeat: no-repeat;
        height: 740px;
        width: 767px;
        margin-top: 53px;
        display: inline-block;
            vertical-align: top;
}
.dia_titile{
    height: 181px;
    width: 309px;
    padding-top: 231px;
    padding-left: 208px;
}
.flag_title{
    
 height: 60px;
 width: 80px;
 margin-top: 36px;
 margin-left: 330px;
        }
