@keyframes img_shows_left-one{
    from {
        transform: translate(-100vw);
    }
    to{
        transform: translate(0vw);
    }
}
@keyframes img_shows_left-two{
   from{
    transform: translate(-100vw);
   }
   to{
    transform: translate(0vw);
   }
}
@keyframes img_shows_riqht_two{
    from{
        transform: translate(100vw);
    }
    to{
        transform: translate(0vw);
    }
}
@keyframes img_shows_riqht_one{
    from{
        transform: translate(100vw);
    }
    to{
        transform: translate(0vw);
    }
}
/* анімація годиникова стрілка*/
@keyframes screen1{
    from{
        top: 0;
        left: 0;
      }
    25%{
        top: 0;
        left: 50%;
    } 
    50%{
        top: 50%;
        right: 0;
    } 
    75%{
        top: 50%;
        right: 50%;
    } 
    to{
      top: 0;
      left: 0;
    } 
   
}
@keyframes screen2 {
     from {
         top: 0;
         left: 50%;
     }

     25% {
         top:50%;
         right:0;
     }

     50% {
         top:50%;
         right:50%;
     }

     75% {
         top: 0;
         left: 0;
     }
     to{
         top: 0;
         left: 50%;
     }
}
@keyframes screen3 {
      from {
          top: 50%;
          right: 50%;
      }

      25% {
         top: 0;
         left: 0;
      }

      50% {
         top: 0;
         left: 50%;
      }

      75% {
         top: 50%;
         right: 0;
      }
      to{
         top: 50%;
         right: 50%;
      }
}
@keyframes screen4 {
    
    from{
        top: 50%;
        right: 0;
    }

    25% {
        top: 50%;
        right: 50%;
    }

    50% {
        top: 0;
        left: 0;
    }

    75% {
     top: 0;
     left: 50%;
    }
    to{
     top: 50%;
     right: 0;
    }
}