@import url(.//animation.css);
html{
font-family: 'Rosario', sans-serif;
    
}
:root{
    font-size: 10px;
}
body{
    margin: 0;
}
.galery, .services, .team, .contact{
    min-height: 70rem;
    box-sizing: border-box;
    overflow: hidden;
}

header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
    align-items: center;
    height:12.9rem ;
    min-width: 100%;
}
.logo{
    align-self: stretch;
}
.nav{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}
.nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 3.6rem;
}
.box{
    width: 100%;
    display: flex;
    min-height: 78vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.galery_img_one,.galery_img_one_right{

    max-width: 100%;
    
}

.galery_img_two,.galery_img_two_right,.galery_img_two_1,.galery_img_two_right_1{
   max-width: 100%;
    
    padding-bottom: 2rem;
}
.left_one{
    max-width: 24%;
    transform: translate(-100vw);
    animation: img_shows_left-one 2s linear 1 forwards;
    
}
.left_two,.riqht_two{
    max-width: 24%;
}
.galery_img_two,.galery_img_two_1{
    transform: translate(-100vw);
    animation: img_shows_left-two 1s linear 1 forwards;
}
.galery_img_two_right,.galery_img_two_right_1{
    transform: translate(100vw);
    animation: img_shows_riqht_two 1s linear 1 forwards;

}
.right_one{
    max-width: 24%;
    transform: translate(100vw);
    animation: img_shows_riqht_one 2s linear 1 forwards;
    
}
/* екран 2 */
.screen{
    display: flex;
}
.screen .left >div{
    width: 50%;
    height: 50%;
    position: absolute;
}
.left{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;

}
.right{
   width: 40%; 
   
   
}
.services_img{
    width: 55rem;
    height: 70rem;
}
.left-one img,.left-two img,.left-three img,.left-four img{
    width:250px;
    height: 250px;
    box-sizing: border-box;
}
.left-one p,.left-two p,.left-three p,.left-four p{
    font-weight: 700;
    font-size: 4rem;
    margin-top: 0;
    font-style: italic;
    font-weight: 700;
}
.left-one,.left-two,.left-three,.left-four{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.c{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.left-one{
    top: 0;
    left: 0;
    animation:screen1 5s linear infinite;
}
.left-two{
   top: 0;
   left:50%;
   animation:screen2 5s linear infinite ;
}
.left-three{
    top: 50%;
    right:50%;
    animation:screen3 5s linear infinite ;
}
.left-four{
  top: 50%;
  right: 0;
 animation: screen4 5s linear infinite ;
}
/* екран 3*/
.title{
    height: 22vh;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tems{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}
.tems .div> img{
 padding-top: 10%;
 
 
}
.tems:hover>div{
    filter: brightness(0.4);
    font-size: 0rem;
}
.tems>div:hover{
    filter: none;
}
.tems>div{
    position: relative;
}
.name{
    position: absolute;
    background-color: #A3530AB2;
    bottom: 0;
    width: 100%;
    height: 0px;
    border-radius: 0 0 27px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFAFA;
    transition: 1s;
    

}
.tems_img{
    width: 250px;
    height: 370px;
}
.tems>div:hover .name{
    height: 150px;
    font-size: 4rem;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
}
/*екран 4*/
.contact>div{
    margin-top: 2rem;
    display: flex;
}
.left_form{
    width: 60%;
   
}
.form{
    background-color: #E5E5E5;
    margin: 2%;
    display: flex;
    justify-content: center;
    width: 85%;

}
.left_form{
    font-style: italic;
    font-weight: 700;
    font-size: 4rem;
}
.form_title{
    width: 73%;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 4rem;
}
.name_input{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 3rem;
    width: 40%;
    border: none;
    margin: 2%;
    padding-left: 2%;
}
textarea{
    border: none;
    font-weight: 700;
    font-size: 3rem;
    margin: 2%;
    resize: none;
    padding-left: 2%;
}
.contact, .services, .team{
    margin-top: 7%;
}
.contact_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
}
.emeil_phone div>a, .social_media div>a{
    text-decoration: none;
    color: black;
}
.emeil_phone,.work,.social_media{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
}
span{
    font-weight:bold;
    font-size: 2.5rem;
}
.social_a{
    display: flex;
    justify-content: center;
}
.social_text{
    padding-left: 1rem;
}
.work{
    margin-bottom: 4%;
}
/*медія запити*/
/* запит на 768px*/
@media (max-width: 768px){
    header{
        min-width: 100%;
    }
    .nav a{
        font-size: 100%;
    }

    
    .galery{width: 100%;
    }
    .box{
        flex-direction: column
    }
        .galery_img_two{
        transform: translate(-100vw);

        }
    .left_two{
        flex-direction: column;
       
    }
    .galery_img_two,.galery_img_two_1{
     transform: translate(100vw);
     animation: img_shows_riqht_one 1s linear 1 forwards;
    }
    .galery_img_two_right_1,.galery_img_two_right{
    transform: translate(-100vw);
    animation: img_shows_left-one 1s linear 1 forwards;
    }
        .riqht_two{
        flex-direction: column;
        
      }
      .screen{
        min-height: 70rem;
      }
      .left{
        margin: 0 auto;
      }

      .right{
        display: none;
      }
      .title{
        font-size: 2rem;
      }
      .tems{
        flex-direction: column
      }
     .contact>div {
      margin-top: 2rem;
       display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
     .name_input, textarea{
      font-size: 1.5rem;
    }
    .form{
        max-width: 100%;
        
    }
    .left-one p,.left-two p,.left-three p,.left-four p{
        font-size: 1.5rem;
        text-align: center;
    }


}
/* запит на 992px*/
@media(max-width:992px){
    header{
        min-width: 100%;
    }
    .nav a {
            font-size: 180%;
        }
    .box {
            flex-direction: column;
            
            
        }
        .riqht_two,.left_two{
        display: flex;
    }
    .left_one{
       position: absolute;
        
    }
    .right_one{
    position: absolute;      
    }
    .galery_img_one_right{
        position: relative;
    }

    .galery_img_two,.galery_img_two_right{
        transform: translate(-100vw);
        animation: img_shows_left-one 1s linear 1 forwards;
    }
    .galery_img_two_1,.galery_img_two_right_1{
        transform: translate(100vw);
        animation: img_shows_riqht_two 1s linear 1 forwards;
    }

}