html,:root{
font-size: 10px;
font-family: 'PT Sans', sans-serif;
background-color: #DCDCDC;
}

 body{
  margin: 0;
   
 }
 a {
     text-decoration: none;
     color: white;
 }

 .menu {
     position: sticky;
     top: 0px;
     z-index: 1;
     background-color: #202846;
     font-size: 2.4rem;
     color: white;
     align-items: center;
     display: flex;
     justify-content: space-between;
     max-height: 90px;
 }

 .menu-logo {
     padding-left: 5%;
 }

 .menu-list-ul {
     list-style: none;
     display: flex;
     align-items: center;
     width: 75%;
     justify-content: space-around;
 }

 .menu-list-ul>li {
     padding: 1%;
 }

 .menu-list-ul>li>a:hover {
     color: #AEAEE2;
}
  

 



 

 


    
   


main {
    position: absolute;
    top: 9px;
}
.main__header{
    background-color:#C6C6DC;
    width: 100%;
    height: 140px;
    position: relative;
    top: 82px;
}
.main__header_menu{
    background-color: #E8E8E8;
    width: 80%;
    height: 73px;
    position: relative;
    top: 100px;
    left: 117px;
    margin-bottom: 4rem;
    }

.span_main__header{
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    position: relative;
    left: 125px;
    top: 29px;
}
.span_text{
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    position: relative;
    left: 125px;
    top: 20px;
}
.img_header_menu{
    position: relative;
    left: 41em;
    top: 1.5em;
        
}
.build {
    width: 80%;
    margin: 0 auto;
}

.card {
    height: 297px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 8rem;
    left: 1rem;
    margin-bottom: 1rem;
    
}

.card__img {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.card__img img {
    height: 100%;
}

.card__content {
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 2.6rem;
    margin-bottom: rem;
}

.card__content-description {
    font-size: 2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 4%;

}

.card-star,
.card-btn {
    position: absolute;
    
}

.card-star {
    right: 1rem;
    top: 1rem
}

.card-btn {
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}



.card-btn:hover{
 background-color: #EF075B;
}
.cart-star_style{
    fill: white;
}
.cart-star_style:hover{
    fill:yellow;
    transition-duration: 0.3s;
}
.cart__content-fonts{
    font-size: .9rem;

}
#fixed-div{
    position: fixed;
    width: 101px;
    height: 101px;
    bottom: 68px;
    right: 10px;
    background-color: rgba(58, 57, 57, 0.445);
    
    border-radius: 50%;
    z-index: 2;
    
}
#fixed-div:hover{
    background-color: rgba(58, 57, 57, 1);
    transition: all 0.5;
}
.main-div{
margin-top: 10rem;
} 
.card_cabinet{
    display: flex;
    background-color: #BDBDC6;
    height: 400px;
    width: 75%;
    justify-content: space-evenly;
    position: relative;
    left: 6rem;
    top: 9rem;
    margin: 0 auto;
    
}
    .avatar{
    height: 50%;
    position: relative;
    top: 2rem;
    left: 2rem;
    margin: 0 auto;
}
    .avatar_change{
    position: relative;
    height: 13%;
    top: 23rem;
    right: 24rem;
    

}
    .settings{
    position: relative;
    height: 13%;
    top: 31rem;
    right: 50rem;
    
}
.name_card{
    border-bottom: 3px solid white;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    position:absolute;
    top: 1rem;
    right: 2rem;
}
.card_gender{
    border-bottom: 3px solid white;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    position: absolute;
    top: 6rem;
    right: 2rem;


}
.card_birthday{
    border-bottom: 3px solid white;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    position: absolute;
    top: 10rem;
    right: 2rem;
}
.card_tel{
    border-bottom: 3px solid white;
    font-style: italic;
    font-weight: 700;
    font-size: 23px;
    width: 50%;
    position: absolute;
    top: 14rem;
    right: 2rem;
}
.card_mail{
    
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    position: absolute;
    top: 18rem;
    right: 2rem;
} 
b{
    font-weight: 400;
}
.name_card_btn{
    position: absolute;
    top: 224rem;
    left: 49rem;
}
.btn-exit{


   bottom: 0;
   right: -40px;
   width: 200px;
   padding: 1rem 5rem;
   background-color: #202846;
   color: white;
   text-decoration: none;
   font-size: 24px;
   text-align: center;
   border-radius: 50px;
   }
    
.btn-exit:hover {
  background-color: #EF075B;
}
.footer-header{
    margin: 233rem auto 0;
    background-color: #C6C6DC;
    width: 100%;
    height: 140px;
}
.footer_kard_rontakt{
  top: 136rem;
 font-style: italic;
 width: 100%;
        

}
.footer-up {
    font-weight: 400;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 15% 0%;
}

.footer-up-phone-title,
.footer-up-worktime-title,
.footer-up-mail-title,
.footer-down-address-title {
    border-bottom: 3px solid #202846;
}

.footer-up-phone-desc,
.footer-up-worktime-desc,
.footer-up-mail-desc,
.footer-down-address-desc {
    margin-top: 4%;
}

.footer-up-phone-desc>a,
.footer-up-mail-desc>a {
    color: black;
}

.footer-down {
    font-weight: 400;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 15% 0%;
}
.google {
    position: relative;
    bottom: 14rem;
    left: 1rem;
}
    
    
    
    
    


    
    











    
    


